*, *::before, *::after { box-sizing: border-box; margin: 0;}
header {
    font-family: 'Questrial', sans-serif;
    display: block;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #fff;
    box-shadow: 0 1px 4px rgb(146 161 176 / 15%);
}
body {
    font-family: 'Questrial', sans-serif;
    font-size: 16px;
    color: #131313;
}

.navigation_bar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 64px;
    font-weight: 600;
    background-image: linear-gradient(to right, white , green);
}
.navigation_bar_list {
    display: flex;
    list-style: none;
    align-items: flex-end;
}
.navigation_bar_list li {
    color: white;
    list-style: none;
    margin-left: 10px;
    margin-right: 15px;
    padding: 8px 12px;
} 
.navigation_bar_list li a:link, a:visited, a:hover, a:active {
    color: inherit;
    text-decoration: none;
}
.navigation_bar_list li::after {
    width: 0%;
    content: '';
    height: 3px;
    background: white;
    display: block;
    transition-property: width;
    transition-duration: 0.2s;
}
.navigation_bar_list li:hover::after {
    width: 100%;
}
.navigation_bar_logo_link {
    text-decoration: none;
    color: white;
    font-size: 22px;
}
#background-gradient {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 400px;
    background-image: linear-gradient(to right, white , green);
    padding-bottom: 50px;
    color: white;
}
#about_me {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 320px;
    width: 100%;
    gap: 50px;
}
.img_width_div {
    display: flex;
    flex-direction: column;
    word-wrap: break-word;
    width: 600px;
    align-items: center;
    margin-bottom: 50px;
}
.img_width_div p {
    margin-top: 50px;
    font-size: 18px;
    line-height: 26pt;
}
.img_width_div h2 {
    margin-top: 50px;
    color: lightgreen;
    font-size: 32px;
}
.img_width_div h2::after {
    content: '';
    display: block;
    width: 100px;
    text-align: center;
    margin:auto;
    height: 3px;
    margin-top: 15px;
    background: lightgreen;
}
.dreamville_pic {
    height: auto;
    width: 600px;
}
.hobby {
    display: flex;
    justify-content: center;
    gap: 200px;
    width: 100%;
    align-items: center;
    background-image: linear-gradient(to right, white , lightgreen, white);
}
.hobby_main_description {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 600px;
    font-size: 18px;
    line-height: 18pt;
    color: white;
    background-color: rgb(92, 156, 92);
    padding: 15px;
    border-radius: 32px;
    box-shadow: 0 4px 25px rgb(14 36 49 / 15%);
    margin: 30px;
}
.hobby_main_description h2 {
    margin-bottom: 10px;
}
.hobby img {
    height: 250px;
    width: 250px;
}
@media only screen and (max-width: 768px) {
    .hobby img, .blank_div{
        display: none;
    }
}
.hobby_computer {
    margin-bottom: 100px;
}
.blank_div {
    width: 250px;
}
.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    font-weight: 600;
    padding: 12px 0;
    padding-bottom: 12px;
    height: 300px;
}
.footer div h2 {
    font-size: 32px;
}
.hamburger_menu {
    display: none;
    cursor: pointer;
}

.hamburger_line {
    width: 32px;
    height: 4px;
    background-color: black;
    margin: 6px 0;
    transition: 0.4s;
    border-radius: 4px;
}
.change .bar1 {
    transform: translate(0, 11px) rotate(-45deg);
}
  
.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    transform: translate(0, -11px) rotate(45deg);
}
@media only screen and (max-width: 320px) {
    .hamburger_menu {
        display: inline-block;
    }
    .navigation_bar_menu {
        display: none;
    }
    .img_width_div {
        width: 280px;
    }
    .img_width_div img {
        width: 280px;
    }
}