*, *::before, *::after { box-sizing: border-box; margin: 0;}
header {
    font-family: 'Questrial', sans-serif;
    display: block;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #fff;
    box-shadow: 0 1px 4px rgb(146 161 176 / 15%);
}
body {
    font-family: 'Questrial', sans-serif;
    font-size: 16px;
    color: #131313;
}

.navigation_bar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 64px;
    font-weight: 600;
    background-image: linear-gradient(to right, white , green);
}
.navigation_bar_list {
    display: flex;
    list-style: none;
    align-items: flex-end;
}
.navigation_bar_list li {
    color: white;
    list-style: none;
    margin-left: 10px;
    margin-right: 15px;
    padding: 8px 12px;
} 
.navigation_bar_list li a:link, a:visited, a:hover, a:active {
    color: inherit;
    text-decoration: none;
}
.navigation_bar_list li::after {
    width: 0%;
    content: '';
    height: 3px;
    background: white;
    display: block;
    transition-property: width;
    transition-duration: 0.2s;
}
.navigation_bar_list li:hover::after {
    width: 100%;
}
.navigation_bar_logo_link {
    text-decoration: none;
    color: white;
    font-size: 22px;
}
#background-gradient {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 400px;
    background-image: linear-gradient(to right, white , green);
    padding-bottom: 50px;
    color: white;
}
.section_title {
    margin-top: 50px;
    color: lightgreen;
    font-size: 32px;
    text-align: center;
    margin-bottom: 50px;
}
.section_title::after {
    content: '';
    display: block;
    width: 100px;
    text-align: center;
    margin:auto;
    height: 3px;
    margin-top: 15px;
    background: lightgreen;
}
@media only screen and (max-width: 768px) {
    .skills_img_div {
        display: none;
    }
}
.skills_page {
    display: flex;
    flex-direction: column;
    margin-left: 250px;
    margin-right: 250px;
    margin-top: 50px;
}
.skills_text_img {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 60px;
}
.skills_info {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    margin-right: 50px;
}
.skills_text_img div {
    width:100%;
}
.skills_text_img img {
    margin-left: 150px;
    width: 380px;
    height: auto;
}
.skills {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    font-weight: 600;
    padding: 16px 16px;
    margin-bottom: 32px;
    border-radius: 8px;
    box-shadow: 0 4px 25px rgb(14 36 49 / 15%);
}
.skills_bar {
    position:absolute;
    left: 0;
    bottom: 0;
    background-color: lightgreen;
    height: 4px;
    border-radius: 8px;
    z-index: -10;
}
.skills_bar_1 {
    max-width: 90%;
}
.skills_bar_2 {
    max-width: 80%;
}
.skills_bar_3 {
    max-width: 80%;
}
.skills_bar_4 {
    max-width: 70%;
}
.skills_bar_5 {
    max-width: 75%;
}
.skills_bar_6 {
    max-width: 90%;
}
.skills_bar_7 {
    max-width: 80%;
}
.skills_bar_8 {
    max-width: 80%;
}
.skills_bar_9 {
    max-width: 70%;
}
.skill_percentage {
    text-align: right;
}
.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
    background-color: black;
    color: white;
    text-align: center;
    font-weight: 600;
    padding: 12px 0;
    padding-bottom: 12px;
    height: 300px;
}
.footer div h2 {
    font-size: 32px;
}