*, *::before, *::after { box-sizing: border-box; margin: 0;}

header {
    font-family: 'Questrial', sans-serif;
    display: block;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #fff;
    box-shadow: 0 1px 4px rgb(146 161 176 / 15%);
}
body {
    font-family: 'Questrial', sans-serif;
    font-size: 16px;
    color: #131313;
}

.navigation_bar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 64px;
    font-weight: 600;
    background-image: linear-gradient(to right, white , green);
}
.navigation_bar_list {
    display: flex;
    list-style: none;
    align-items: flex-end;
}
.navigation_bar_list li {
    color: white;
    list-style: none;
    padding: 8px 12px;
} 
.navigation_bar_list li a:link, a:visited, a:hover, a:active {
    color: inherit;
    text-decoration: none;
}
.navigation_bar_list li::after {
    width: 0%;
    content: '';
    height: 3px;
    background: white;
    display: block;
    transition-property: width;
    transition-duration: 0.2s;
}
.navigation_bar_list li:hover::after {
    width: 100%;
}
.navigation_bar_logo_link {
    text-decoration: none;
    color: white;
    font-size: 22px;
}
.green_name_text {
    color: white;
}
.home_socials {
    display: flex;
}
.home_socials_list {
    display: flex;
    justify-content: flex-start;
    list-style: none;
  }
.home_socials_list li a img {
    float: left;
    width:  20px;
    height: 20px;
    background-size: cover;
}
.home_socials_list li {
    margin-left: 40px;
}
.home_page {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 250px;
    height: 700px;
    background-image: linear-gradient(to right, white , green);
}
@media only screen and (max-width: 768px) {
    .home_page div img {
        display: none;
    }
    .parent_home {
        align-items: center;
    }
    .home_text {
        align-self: center;
    }
}
.home_text {
    font-size: 36px;
    color: white;
}
.home_text h1 {
    color: black;
}
.parent_home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 100px;
}
.home_picture {
    border-radius: 50%;
    height: 450px;
    width: 500px;
    box-shadow: 0 0 8px 8px rgb(3, 158, 3);
}
.contact_button{
    display: inline-block;
    text-decoration: none;
    background-color: lightgreen;
    color: green;
    padding: 12px 40px;
    font-weight: 600;
    border-radius: 8px;
    font-size: small;
}
#growth_periods {
    display: flex;
    justify-content: center;
    gap: 120px;
}
@media only screen and (max-width: 768px) {
    #growth_periods {
        flex-direction: column;
    }
}
#growth_wrapper {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}
.growth_period {
    height: auto;
    width: 300px;
    margin-bottom: 10px;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
}
.growth_period_frame_title {
    color: rgb(110, 109, 109);
    font-size: 24px;
    margin-bottom: 15px;
}
.growth_period_frame {
    background-color: rgb(241, 241, 241);
    width: 300px;
    border-radius: 8px;
}
.growth_period_frame_text {
    word-wrap: break-word;
    padding: 8px;
}
.growth_period_frame_text p {
    line-height: 18pt;
}
#quote_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(to bottom, white , lightgreen, lightgreen);
    height: 500px;  
    margin-top: 80px;
}
.quote_alignment {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    width: 600px;
    gap: 30px;
}
@media only screen and (max-width: 320px) {
    .quote_alignment {
        width: 300px;
    }
}
.quote_alignment p {
    font-size: 24px;
}
.quote_alignment div {
    font-size: 24px;
    color: white;
    background-color: black;
    padding: 5px;
    border-radius: 4px;
    width: 260px;
}
#quote_icon {
    font-size: 60px;
}
.section_title {
    color: lightgreen;
    text-align: center;
    font-size: 32px;
}
.section_title::after {
    content: '';
    display: block;
    width: 180px;
    text-align: center;
    margin:auto;
    height: 3px;
    margin-top: 15px;
    background: lightgreen;
}
.section_title_div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
    background-color: black;
    color: white;
    text-align: center;
    font-weight: 600;
    padding: 12px 0;
    padding-bottom: 12px;
    height: 300px;
}
.footer div h2 {
    font-size: 32px;
}