*, *::before, *::after { box-sizing: border-box; margin: 0;}
header {
    font-family: 'Questrial', sans-serif;
    display: block;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #fff;
    box-shadow: 0 1px 4px rgb(146 161 176 / 15%);
}
body {
    font-family: 'Questrial', sans-serif;
    font-size: 16px;
    color: #131313;
}

.navigation_bar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 64px;
    font-weight: 600;
    background-image: linear-gradient(to right, white , green);
}
.navigation_bar_list {
    display: flex;
    list-style: none;
    align-items: flex-end;
}
.navigation_bar_list li {
    color: white;
    list-style: none;
    margin-left: 10px;
    margin-right: 15px;
    padding: 8px 12px;
} 
.navigation_bar_list li a:link, a:visited, a:hover, a:active {
    color: inherit;
    text-decoration: none;
}
.navigation_bar_list li::after {
    width: 0%;
    content: '';
    height: 3px;
    background: white;
    display: block;
    transition-property: width;
    transition-duration: 0.2s;
}
.navigation_bar_list li:hover::after {
    width: 100%;
}
.navigation_bar_logo_link {
    text-decoration: none;
    color: white;
    font-size: 22px;
}
#background-gradient {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 400px;
    background-image: linear-gradient(to right, white , green);
    padding-bottom: 50px;
    color: white;
}
.work_page {
    display: flex;
    flex-direction: column;
    margin-top: 35px;
    gap: 50px;
    margin-bottom: 150px;
}
.work_page_main {
    display: flex;
    justify-content: center;
    gap: 100px;
}
@media only screen and (max-width: 768px) {
    .work_page_main {
        flex-direction: column;
    }
}
.work_page_main div {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.work_img {
    width: 320px;
    height: 200px;
    border-radius: 8px;
}
.work_page_main div h3 {
    text-align: center;
}
.work_page_main div h3::after {
    content: '';
    display: block;
    width: 100%;
    text-align: center;
    margin:auto;
    height: 3px;
    margin-top: 15px;
    background: lightgreen;
}
.section_title {
    margin-top: 50px;
    color: lightgreen;
    font-size: 32px;
    text-align: center;
    margin-bottom: 50px;
}
.section_title::after {
    content: '';
    display: block;
    width: 100px;
    text-align: center;
    margin:auto;
    height: 3px;
    margin-top: 15px;
    background: lightgreen;
}
.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
    background-color: black;
    color: white;
    text-align: center;
    font-weight: 600;
    padding: 12px 0;
    padding-bottom: 12px;
    height: 300px;
}
.footer div h2 {
    font-size: 32px;
}